@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Press+Start+2P&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
}

.atas {
    display: flex;
}

.full {
    height: 92vh;
}

.top {
    width: 50vw;
    height: 8vh;
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
}
.container {
    display: flex;
    place-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    height: 92vh;
}

.icon {
    height: 6.5vh;
    margin-left: 3vh;
    margin-top: 3vh;
    
}

.utilities {
    width: 50vw;
    height: 8vh;
    background-color: #F5F5F5;
    display: flex;
    place-items: center;
    justify-content: right;
}

p {
    margin-top: 4vh;
    font-size: 1.2vw;
    margin-right: -5vh;
    font-style: italic;
    font-weight: bold;
}

.profil {
    margin-top: 4vh;
    margin-left: 4vw;
    margin-right: 5vw;
    background-color: white;
    height: 8vh;
    border-radius: 50%;
    box-shadow: 5px 5px 6px #D1E9D2;
}

.menu {
    position: absolute;
    height: 35vh;
    width: 15vw;
    opacity: 0;
    background-color: #D1E9D2;
    margin-top: 70vh;
    /* margin-top: 60vh; */
    margin-right: 3.5vw;
    transition: 1s;
    display: flex;
    justify-content: end;
    border-radius: 5%;
    box-shadow: 20px 15px 50px rgb(0, 120, 60 , 0.5);
}

.segitiga {
    position: absolute;
    margin-top: -3vh;
    margin-right: 1vw;
    width: 0;
	height: 0;
    border-radius: 90px;
	border-left: 2.5vw solid transparent;
	border-right: 2.5vw solid transparent;
	border-bottom: 5vh solid #D1E9D2;
}

.information {
    width: 15vw;
    height: 35vh;
    /* background-color: red; */
    display: inline;
    /* text-align: start; */
    
    /* justify-content: start; */
    /* margin-bottom: 10vh; */
}

.opsi {
    width: 10vw;
    height: 9vh;
    margin-top: 1.5vh;
    margin-right: 2vw;
    /* border-radius: 20px; */
    outline: none;
    border: none;
    /* border-bottom: 1px solid #D1E9D2; */
    font-weight: bold;
    color: #006633;
    background-color: #D1E9D2;
    transition: .7s ;
}

.opsi:hover {
    border-bottom: 1px solid #006633;
}

.parent > .button:first-child{
    display:inline;
    text-align: center;
    margin-top: 10vh;
}

.shadow {
    box-shadow: 20px 20px 20px #D1E9D2;
    border-radius: 10px 10px 10px 10px;
    width: 15vw;
    height: 80vh;
}
.navbar {
    border-radius: 10px 10px 10px 10px;
    width: 15vw;
    height: 80vh;
    background-color: #95C11F;
    display: inline-block; 
    text-align: center;
    overflow: hidden;
    box-shadow: inset 0 0 10px #006633;
}

.wheat {
    margin-left: -8vw;
    height: 60vh;
    opacity: 85%;
}
.button {
    height: 6vh;
    width: 13vw;
    margin-top: .5vh;
    margin-bottom: 2.5vh;
    border: none;
    border-radius: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #006633;
    transition: .7s;
    /* background-color: #006633; */
}

.button-input {
    height: 6vh;
    width: 13vw;
    margin-top: .5vh;
    margin-bottom: 2.5vh;
    border: none;
    border-radius: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    transition: .7s;
    background-color: #006633;
}

/* #tombol {
    background-color: #006633;
} */

.button:hover {
    background-color: #006633;
    /* background-color: red; */
    color: white;
}


.content {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 20px 20px 20px #D1E9D2;
    width: 75vw;
    height: 80vh;
    background-color: white;
    display: inline;
}

table {
    margin-top: -1vh;
    height: 55vh;
}
.judul {
    /* background-color: red; */
    height: 10vh;
    width: 75vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.isi {
    display: flex;
}
.form{
    /* background-color: tomato; */
    height: 70vh;
    width: 60vw;
}
.patern{
    display: flex;
    justify-content: end;
    align-items: end;
    /* background-color: aqua; */
    width: 15vw;
}
.gambar{
    margin-right: 6px;
}
.gambar1{
    height: 20vh;
}

.button-action {
    /* background-color: red; */
    padding-top: 3.5vh;
    text-align: center;
}

.table {
    padding-top: 1vw;
    padding-left: 14vh;
}

.button-simpan {
    width: 6vw;
    height: 5vh;
    margin-right: 2.5vh; 
    background-color: #146C94;  
    border-radius: 11px;
    border: none;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    transition: .7s;
}

.button-simpan:hover {
    width: 6vw;
    height: 5vh;
    margin-right: 2.5vh; 
    background-color: #19A7CE;
    letter-spacing: 1px;
    border: solid 2px;
    border-color: #146C94;
    color: white;
}

.button-batal {
    margin-left: 2.5vh;
    width: 6vw;
    height: 5vh;
    /* background-color: red;   */
    background-color: #ca5800;  
    border-radius: 11px;
    border: none;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    transition: .7s;
}

.button-batal:hover {
    width: 6vw;
    height: 5vh;
    margin-left: 2.5vh; 
    background-color: #FFA41B;
    letter-spacing: 1px;
    border: solid 2px;
    border-color: #ca5800;
    color: white;
}

.input {
    height: 3.4vh;
    border-radius: 7px;
    padding-left: 1vh;
    padding-right: 1vh;
    outline: none;
    border-color: #F5F5F5;
    box-shadow: 1px 1px 2px #F5F5F5;
    /* border-color: #ffffff; */
    caret-color: cadetblue;
}

.input-disabled {
    height: 3.4vh;
    border-radius: 7px;
    padding-left: 1vh;
    padding-right: 1vh;
    outline: none;
    background-color: rgba(0, 0, 0, 0.242);
    border-color: #F5F5F5 ;
    box-shadow: 1px 1px 2px #F5F5F5;
    /* transition: .5s; */
    /* border-color: #ffffff; */
    caret-color: cadetblue;
}

input[type=checkbox]{
    margin-bottom: 2vh;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.input:focus {
    outline: none; /* important */
    height: 3.4vh;
    border-radius: 7px;
    padding-left: 1vh;
    padding-right: 1vh;
    border: 2px solid #95C11F;
    box-shadow: 1px 1px 2px #F5F5F5;
}


#pd, #jg, #cb, #sg, #sm {
    margin-top: .6vh;
}